<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中央美食決策</title>
    <link rel="icon" href="static/favicon.ico" type="image/gif" />
    <link rel="bodysetting" href="./css/body.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/title.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
  </head>
  <body>
    <div class="title-container">
      <div class="title-header">
        <h1>中央美食決策</h1>
      </div>
    </div>
    <div class="content_container">
      <div class="introduce_box">
        <div>
          <h3><b>什麼是中央美食決策?</b></h3>
        </div>
        <div>
          <p>中央美食決策希望能讓無法決定午餐要吃甚麼的你，快速找到心目中最理想的店家。</p>
        </div>
        <div class="map-box">
          <a href="./static/NCU_map.jpg" download>
            <h3><b>中央大學地圖下載</b></h3>
          </a>
          <img class="NCU-map" src="./static/NCU_map.jpg">
        </div>
      </div>
      <div class="qrcode_box">
        <div>
          <h3><b>加入中央美食決策群組</b></h3>
        </div>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
            <img alt="QR code" src="static/rick roll QR code.png">
          </a>
        </button>
      </div>
    </div>
  </body>
</html>